
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;  
    color: black;
    width: 960px;
    padding-left: 15%;
    padding-right: 15%;
}

.salesPageHeader, .homePageHeader {
    font-size: 300%;
    font-family: 'Raleway', sans-serif;
    color: #FF894B;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
}
.salmonHeader1 {
    width: 100px;
    padding-top: 5px;
    padding-right:5px;
    float: left;
    margin-left: auto;
}

.salmonHeader2 {
    width: 100px;
    padding-top: 5px;
    transform: scaleX(-1);
    padding-left: 10px;
    float: right;
    margin-right: auto;
}


.navBar {
    background-color: #FF894B;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white;
    font-weight: bold;
}

.mainHome {
    background-color: rgb(214, 214, 214);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30%;
}

.mainSales {
    background-color: rgb(214, 214, 214);
    padding: 20px;
}

table {
    background-color: rgb(236, 235, 235);
    color: black;
    margin: auto; 
    text-align: center;
}

td {
    padding: 8px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #10B3AC;
}

th {
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 2px;
    color: #FF9A63;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: solid;
    border-color: #B35522;
    color: #4AFFF8;
    background-color: #FF9A63;
    font-size: 12pt;
    padding: 5px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

input {
    background-color: #FF9A63;
    font-weight: bold;
    color: black;
}

button {
    background-color:#FF894B;
}


/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: #4AFFF8;
  }
  
  /* mouse over link */
  a:hover {
    color: #10B3AC;
  }
  
  /* selected link */
  a:active {
    color: #B35522;
  }

h2 {
    color: #10B3AC;
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.ownersPhoto {
    width: 400px;
    margin-bottom: 20px;
    border-radius: 25px;
    float: left;
}

.frostedCookie {
    width: 150px;
    border-radius: 25px;
    margin-left: 30%;
    margin-top: 20px;
}

.firstSec {
    width: 400px;
    padding-bottom: 20px;
}

.locationHeader {
    display: flex;

}

.salmon {
    width: 75px;
    float: left;
    padding-right: 5px;
}

.chinook {
    width: 75px;
    float: right;
    padding-left: 5px;
}

.locationInfo {
    height: 250px;
    overflow: scroll;
    padding-bottom: 20px;
}

h3 {
    font-weight: bold;
    font-size: 18px;
    color: #FF894B;
}

.swag {
    height: 250px;
    overflow: scroll; 
}

.cutter {
    height: 150px;
}

.shirt {
    height: 150px;
}

footer {
    background-color: white;
    margin-left: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.swagHeader {
    padding-top: 20px;
}

.footLeft {
    height: 45px;
    transform: scaleX(-1);
}
.footRight {
    height: 45px;
}

/* 
//Color palet  */
/* #B35522
#FF9A63
#FF894B
#10B3AC
#4AFFF8 */