
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;  
    color: black;
    width: 960px;
    padding-left: 15%;
    padding-right: 15%;
}

.salesPageHeader, .homePageHeader {
    font-size: 280%;
    font-family: 'Raleway', sans-serif;
    color: #FF894B;
    background-color: rgba(252, 252, 252, 0.5);
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.salmonHeader {
    width: 150px;
    padding-top: 5px;
}


.navBar {
    background-color: #FF894B;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white;
    font-weight: bold;
}

.main {
    background-color: rgb(214, 214, 214);
    padding: 20px;
}

table {
    background-color: rgb(236, 235, 235);
    color: black;
    margin: auto; 
    text-align: center;
}

td {
    padding: 8px;
    border: solid;
    border-color: black;
    border-width: 2px;
    border-collapse: collapse;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #10B3AC;
}

th {
    font-weight: bold;
    border: solid;
    border-color: black;
    border-width: 2px;
    color: #FF9A63;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: solid;
    border-color: #B35522;
    color: #4AFFF8;
    background-color: #FF9A63;
    font-size: 12pt;
    padding: 5px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

input {
    background-color: #FF9A63;
    font-weight: bold;
    color: black;
}

button {
    background-color:#FF894B;
}

#B35522
#FF9A63
#FF894B
#10B3AC
#4AFFF8